* {
  margin: 0px;
  padding: 0px;
}
/* h1{
    width: 300px;
    height: 300px;
    background-color: red;
    padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px;
    padding-right: 50px;
    border: 15px solid blue ;
    padding: 50px 50px;
    margin: 0 auto;
} */
/*h2{
    width: 300px;
    height: 300px;
    background-color: red;*/
/* padding-top: 50px;
    padding-bottom: 50px;
    padding: 50px;
    padding-right: 50px; */
/*border: 15px solid blue ;
     margin-top: 100px; 
  
}*/
/*div {
  width: 200px;
  height: 200px;
  background-color: red;*/
/* padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 60px ; */
/*padding: 10px 60px 30px 50px;*/
/* border: 30px solid blue; */
/* border: 30px dotted green; */
/* border: 30px outset yellow; */
/* border: 30px ridge yellow; */
/* border: 20px groove blue; */
/*border: 20px double green; */

/* a {
  width: 300px;
  height: 300px;
  background-color: blue;
   margin-top: 200px;
margin-left: 200px; 
  display: block;
  margin: 100px 10000px 100px 200px;
} */

.box-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 0.5fr;
  gap: auto;
  justify-content: space-between;
  background-color: red;
}
/* .box-container {
  width: 500px;
  height: 500px;
  background-color: red;
} */

/* .box {
  width: 100px;
  height: 100px;
} */
/* a2 .box {
  width: 100px;
  height: 100px;
  margin-left: auto;
} 
/* .box {
  width: 100px;
  height: 100px;
  margin-right: auto;
} */
.box {
  width: 100px;
  height: 100px;
  margin: auto;
}
/*bai A1 .box {
  width: 100px;
  height: 100px;
  display: inline-block;
} */
/* bai a .box {
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 400px;
} */
/*bai C .box {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
} */
/* bai D.box {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
  left: 200px;
} */
/* .box {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 200px;
  right: 200px;
} */

#box1 {
  background-color: blue;
}
#box2 {
  background-color: yellow;
}
#box3 {
  background-color: green;
}
