body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;

  padding: 0;
  /* background-color: rgb(226, 226, 226); */
}

header {
  background: url(header-background.jpg) center/cover no-repeat;
  height: 50vh;
}

@media screen and (min-width: 768px) {
  header {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 80vh;
  }
}
section {
  padding: 20px;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  section {
    font-size: 18px;
  }
}

html,
body,
div,
h1,
h2,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Responsive styles */
.container-xl {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: white; */
}

.container-content {
  padding: 20px;
}

.mind-x-h2-header {
  text-align: center;
  color: orange;
  font-size: 40px;
  text-transform: uppercase;
}

.mind-x-h2 {
  color: orange;
  font-size: 40px;
}

.mind-x-color {
  color: orange;
  text-transform: uppercase;
}

.about-section {
  text-align: center;
  margin-bottom: 20px;
}

.about-section h1 {
  font-size: 32px;
}

.about-section p {
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.info-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  text-align: center;
}

.icon-container {
  font-size: 36px;
  margin-bottom: 10px;
}

.icon-container i {
  font-size: 45px;
  color: orange;
}

.count {
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
}

.explore-btn {
  display: inline-block;
  padding: 20px 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: orange;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #0056b3;
}

.photo-gallery {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.photo {
  flex: 1 0 100%;
  max-width: 300px;
  height: auto;
  border-radius: 4px;
}

.staff-section {
  text-align: center;
}

/* Mobile responsiveness */

.staff-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: 20px;
  justify-content: center;
  padding-left: 400px;
  padding-right: 400px;
}

.staff-card {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 280px;
  width: 300px;
}
@media (max-width: 768px) {
  .info {
    flex-direction: column;
  }

  .photo-gallery {
    gap: 5px;
    flex-direction: column;
  }

  .photo {
    flex: 1 0 50%;
  }
  .staff-grid {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 185px;
  }
}
