
#CSS-01{
    color: red;
    font-size: 15pt;
    font-style: italic;
}

#CSS-02{
    color: blue;
    font-size: 30pt;
    font-style: italic;
}

#CSS-03{
    color: yellow;
    font-size: 45pt;
    font-style: italic;
}
#CSS-04{
    background-color: springgreen !important;
    color: yellow !important;
    height: 400px;
    width: 400px;
    display: inline-block
}
#CSS-05{
    background-color: saddlebrown;
    display: inline-block;
}
.css-title-01{
    background-color: yellow;
}
h2{
    font-style: italic;
}
#Span-01{
    background-color: yellow;
    display: inline;
}
#gtgg-01{
    background-color: blue  ;
    height: 50px;
    width: 200px;
    display: inline-block;
}
#gtgg-02{
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    display: inline-block
}
#gtgg-03{
    background-color: yellow;
    height: 200px;
    width: 200px;
    border-radius: 60%;
    display: block
}