* {
  padding: 0px;
  margin: 0px;
}
/* cau E #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
} */
/* cau F #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-direction: row;
  position: absolute;
} */
/* cau B #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 100%;
} */
/* cau A #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
/* cau C #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  top: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(0px);
} */
/* cau G #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  left: 100px;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(0px) translateY(-50%);
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
#child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

/* cau D #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  left: 100px;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
}
#child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
} */
/* cau h #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  display: flex;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 500px;
  left: 300px;
  position: absolute;
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin-top: 500px;
  left: 400px;
  position: absolute;
}
#child {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-top: 500px;
  left: 500px;
  position: absolute;
} */
#parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
  display: flex;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
  top: 600px;
  left: 300px;
  position: absolute;
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: black;
  top: 600px;
  left: 400px;
  position: absolute;
}
#child {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-top: 600px;
  left: 500px;
  position: absolute;
}
cau sao
