* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* .boxcontainer-1 {
  width: 300px;
  height: 300px;
  background-color: gray; */
/* border: 20px solid red;
  border-radius: 5em; */
/* } */
/* .box1 {
  position: relative;
  background-color: blue;
}
.box2 {
  position: static;
  background-color: black;
  color: red;
} */
/* #grand-parent{
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}
#grand-parent #parent{
    width: 300px;
    height: 300px;
    background-color: green;
}
#grand-parent #parent #child{
    width: 200px;
    height: 200px;
    background-color: red;
} */

/*  cau A #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
}
#parent #child {
  width: 200px;
  height: 200px;
  background-color: blue;
} */
/* cau B #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#parent #child {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: absolute;
  right: 10px;
  bottom: 10px;
} */
/* cau C #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#parent #child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  right: 0px;
  top: 40%;
}
#child1 {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
  top: 40%;
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 40%;
  left: 42%;
} */
/* cau D #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#parent #child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 42%;
  top: 40%;
} */
/* cau E #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#parent #child {
  width: 600px;
  height: 100px;
  background-color: blue;
  position: absolute;
  right: 0px;
  top: 83.5%;
} */
#parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  position: relative;
}
#parent #child {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
}
/* #parent {
  width: 600px;
  height: 600px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: flex-end;
  flex-direction: column;
} */
#child1 {
  width: 100px;
  height: 100px;
  background-color: red;
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: black;
}
#child {
  width: 100px;
  height: 100px;
  background-color: blue;
}
